
.header-links{
  float: right;
  padding-right: 50px;
  padding-top: 15px;

  ul{
      list-style: none;
      display: block;
      padding:0px;
      margin:0px;
  }
  li{
      display: inline-block;
  }

}

.productsForm{
  padding: 50px;
  button{
      width: 20%;
  }
}


