<div class = "header-links">
  <ul >
  <li> <a href = "#"> Home</a> | </li>
  <li> <a href = "/order-details"> Back</a> | </li>
  <li> <a href = "#"> Logout</a> </li>
  </ul>

</div>

<form #myform="ngForm" class = "productsForm" (ngSubmit)="submitProductInfo(myform)">

      <div class="form-group row">
              <label for="sel2" class="col-sm-2 col-form-label">Category</label>
              <div class ="col-sm-10">
                  <select name = "category" class="form-control" id="sel2" [(ngModel)]="categoryData" (change)="categorySearch()">
                <option disabled selected>Select Category</option>
                <option>Water Bottle</option>
                <option>Non-Alcoholic</option>
                <option>Beverages</option>
                <option>Cocktails/Mocktails</option>
              </select>
              </div>
            </div>

      <div class="form-group row">
        <label for="searchByProduct" class="col-sm-2 col-form-label">Search From Product Name</label>
        <div class="col-sm-10">
          <input name = "Product" type="text" class="form-control" id="searchByProduct" placeholder="Search" [(ngModel)]="searchData" (keyup)="quickSearch()">
        </div>
      </div>

      <ag-grid-angular
      style="width: 100%; height: 230px;"
      id="myGrid"
      class="ag-theme-balham"
      [columnDefs]="columnDefs"
      [rowSelection]="rowSelection"
      [rowData]="rowData"
      [animateRows] = "true"
      [pagination] = "true"
      [enableFilter] = "true"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>

<br>

<div class="form-group row">
      <label for="quantity" class="col-sm-2 col-form-label">Quantity</label>
      <div class="col-sm-10">
        <input name = "quantity" type="number" class="form-control" id="quantity" step="1" value="1" ngModel required>
      </div>
    </div>

    <div class="form-group row">
          <label for="orderDate" class="col-sm-2 col-form-label">Order Date</label>
          <div class="col-sm-10">
            <input name = "orderDate" type="date" class="form-control" id="orderDate" placeholder="" [(ngModel)]="today" readonly>
          </div>
      </div>

          <div class="form-group row">
                  <label for="deliveryDate" class="col-sm-2 col-form-label">Delivery Date(expected)</label>
                  <div class="col-sm-10">
                    <input name = "deliveryDate" type="date" min={{today}} class="form-control" id="deliveryDate" placeholder="" ngModel required>
                  </div>
              </div>


          <div class="form-group row">
                      <label for="orderPlacedBy" class="col-sm-2 col-form-label">Order Placed By</label>
                      <div class="col-sm-10">
                        <input name ="orderPlacedBy" type="text" class="form-control" id="orderPlacedBy" placeholder="" ngModel required>
                  </div>
              </div>

          <div class="form-group row">
                      <label for="emailID" class="col-sm-2 col-form-label">Email ID</label>
                      <div class="col-sm-10">
                        <input name = "emailID" type="email" class="form-control" id="emailID" placeholder="email ID" ngModel required>
                  </div>
              </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary" [disabled]="!myform.valid">Done</button>
        </div>
      </div>
    </form>

