.productPage{
    padding: 50px;
}
.header-links{
    ul{
        list-style: none;
        display: block;
        padding:0px;
        margin:0px;
    }
    li{
        display: inline-block;
    }

}